html, body {
	min-height: 100%;
	width: 100%;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
	line-height: 24px;
	font-style: italic;
	text-align: center;
	overflow-x: hidden;
	color: rgb(0,0,0);
}
body.arimo, body.arimo * {
	font-family: Arimo, sans-serif !important;
	font-style: normal !important;
}
#toggleFont {
	position: fixed;
    top: 20px;
    right: 120px;
    font-style: normal;
    background: transparent;
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 5px;
}
#toggleFont:hover {
	background-color: black;
	color: white;
}
#toggleFont:after {
	content: "Arimo";
}
#toggleFont.source:after {
	content: "Source Sans Pro / Sorts Mill Goudy";
}
img {
	max-width: 100%;
	height: auto;
}
h1,h2,h3 {
	font-style: normal;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
}
h1 {
	font-size: 50px;
	line-height: 50px;
	letter-spacing: 5px;
	text-align: center;
}
.page-template-default h1 {
	margin-bottom: 40px;
}
h2, .subtitle {
	font-size: 30px;
	line-height: 32px;
	font-style: normal;
	letter-spacing: 1px;
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}
.page-template-default h4 {
    margin-top: 50px;
    display: block;
}
:focus {
    outline: none;
}
.page-template-default {
	font-style: normal;
	text-align: left;
}
.sans {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	text-align: left;
}
.caption, [class$="caption"]{
	font-size: 16px;
	line-height: 19px;
}
.bullet {
	width: 15px;
	height: 15px;
	background: url('../library/images/bullet.svg') center/contain no-repeat;
	float: left;
	clear: both;
	margin: 0 auto;
}
.display-inline-block {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.text-align-left {
	text-align: left;
}
.vertical-align {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.scrollSensible {
	opacity: 0;
	transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.scrollSensible.visible {
	opacity: 1;
}
.module-heading.visible, .comeFromTop.visible {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
}
.comeFromTop {
	transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
}


/*Blocks-----------------------------------------------------------*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	background-color: white;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.04);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.04);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.04);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 16px;
}
main {
	padding-top: 120px;
	padding-bottom: 50px;
	opacity: 0;
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
}
.home main {
	float: left;
	width: 100%;
}
.content-header, .content-main {
	float: left;
	width: 100%;
	position: relative;
}
section {
	float: left;
	width: 100%;
}
section:before {
	content: ' ';
	float: left;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
	background-position: top;
	background-size: 3px 1px;
	background-repeat: repeat-x;
	margin: 50px 0;
}
.moduleImage {
	transition-duration: 2s;
	transition-delay: 0.3s;
}
#la-casa-espai:before {
	display: none;
}
.no-borders section:before {
	background: none;
	margin: 40px 0;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	font-style: normal;
}
.proportion {
	min-height: 300px;
	width: 100%;
}

/*Header----------------------------------------------------*/
#logo {
	overflow: hidden;
}
#logo img {
	height: 80px;
	width: auto;
	top: 12px;
	left: 40px;
	position: fixed;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#logo img.visible {
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
#logo svg {
	height: 80px;
	width: auto;
	top: 12px;
	left: 40px;
	position: fixed;
}
#escut {
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#escut.visible {
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
header nav {
	left: 195px;
}
header li {
	margin-right: 22px;
}
header li, nav li {
	position: relative;
}
.current-menu-item:after, header li:after, nav li:after  {
	content: " ";
    position: absolute;
    width: 0px;
    height: 1px;
    background-color: black;
    left: 50%;
    bottom: -5px;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}
.current-menu-item:after, header li:hover:after, nav li:hover:after {
	width: 100%;
}
#lang_sel_list {
	position: fixed;
	right: 20px;
	top: 80px;
	transition: top 0.4s;
	-webkit-transition: top 0.4s;
	z-index: 0;
}
#lang_sel_list.out {
	top: 0;
	
}
#lang_sel_list .lang_sel_sel {
	display: none;
}
#lang_sel_list.lang_sel_list_vertical,
#lang_sel_list.lang_sel_list_vertical li {
    width: auto;
	margin: 0 0 0 20px !important;
}
#lang_sel_list.lang_sel_list_vertical ul a,
#lang_sel_list.lang_sel_list_vertical a,
#lang_sel_list.lang_sel_list_vertical a:visited {
    border: none;
    padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 17px;
	background: transparent !important;
}
.page-template-page_home #big-lang #lang_sel_list.lang_sel_list_vertical a,
.page-template-page_estada_motor #big-lang #lang_sel_list.lang_sel_list_vertical a {
	color: white !important;
}
.page-template-page_home #big-lang li:after,
.page-template-page_estada_motor #big-lang li:after {
    background-color: white;
}
#lang_sel_list.lang_sel_list_vertical ul {
    height: auto;
    top: 0;
    border-top: none;
}
#social {
	position: absolute;
    top: 0;
    right: 40px;
    height: 65px;
    background: white;
    line-height: 65px;
}
#social li {
	margin: 0 0 0 20px;
    line-height: 1em;
}
#responsive-menu {
	position: fixed;
	height: 100%;
	width: 100%;
	top: -100%;
	left: 0;
	background-color: white;
	transition: top 0.6s;
	-webkit-transition: top 0.6s;
	transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
}
#responsive-menu.out {
	top: 0;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}
#responsive-menu li {
	width: 100%;
	text-align: center;
	font-size: 50px;
	line-height: 80px;
	font-weight: 300;
	opacity: 0;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	padding: 0;
}
#responsive-menu.out li {
	opacity: 1;
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
}
.hamburger {
	display: none;
	position: fixed;
	z-index: 10;
	top: 20px;
	right: 20px;
	cursor: pointer;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: visible;
}
.hamburger-box {
	width: 35px;
	height: 24px;
	display: inline-block;
	position: relative;
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 35px;
	height: 2px;
	background-color: #000;
	position: absolute;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 0;
	transition-duration: 0.15s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
	top: -20px;
	transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
	transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
	-webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
	transform: translate3d(0, -10px, 0) rotate(-45deg);
	transition-delay: 0.32s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
	top: 0;
	-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
	transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#responsive-menu #lang_sel_list {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 50px;
    float: none;
    top: auto;
	left: 0;
}
#responsive-menu #lang_sel_list.lang_sel_list_vertical ul a, #responsive-menu #lang_sel_list.lang_sel_list_vertical a, #responsive-menu #lang_sel_list.lang_sel_list_vertical a:visited {
    font-size: 20px;
    line-height: 20px;
	margin: 0 15px;
}

/*Page-----------------------------------------------------*/
#content, .content {
	margin-top: 25px;
	margin-bottom: 25px;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
}
#content:after, .content:after {
	content: ' ';
	display: inline-block;
	background: url('../library/images/bullet.svg') center/contain no-repeat;
	width: 100%;
	height: 15px;
	margin-top: 25px;
}
.no-bullet #content:after, .no-bullet .content:after {
	display: none;
}
#diamonds {
	position: absolute;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 30px;
}
#diamonds.fixed {
	position: fixed;
	z-index: 999;
}
#diamonds_left {
	float: left;
}
#diamonds_right {
	float: right;
}
.diamond {
	width: 70px;
	height: 70px;
	display: block;
	position: relative;
	margin-bottom: 50px;
}
.diamond-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 1px solid rgba(0,0,0,0.25);
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.diamond .diamond-text {
	display: block;
	width: 100%;
	text-align: center;
}
.diamond img {
	height: 30px;
}
.diamond:hover .diamond-background {
	border: 1px solid rgba(0,0,0,1);
}
#goTop {
	cursor: pointer;
}

/*Parent Page------------------------------------*/
#submenu {
	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
	margin: 5px 0 15px;
}
#submenu a:hover, #submenu a:focus, #submenu a:active {
	text-decoration: none;
}
#submenu a:after {
	content: '·';
	margin: 0 10px;
}
#submenu a:last-child:after {
	content: '';
	margin: 0;
}
#checkered {
	margin-bottom: 50px;
}
.checkered-row {
	float: left;
	width: 100%;
	position: relative;
}
.checkered-row.left .checkered-block {
	float: left;
}
.checkered-row.right .checkered-block {
	float: right;
}
.checkered-block {
	width: 50%;
	margin-top: 50px;
	transition: all 1s;
	-webkit-transition: all 1s;
}
.checkered-block.visible {
	margin-top: 0;
}
.checkered-img img {
	width: 100%;
	height: auto;
}
.checkered-text {
	padding: 0 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
}
.checkered-row.right .checkered-text {
	left: 0;
}
.checkered-row.left .checkered-text {
	right: 0;
}

/*Module----------------------------------------------*/
.module-heading {
	margin-bottom: 25px;
}
.no-borders .module-heading {
	margin-bottom: 0;
}
.slider-nav {
	font-size: 0;
}
.slider-thumb {
	cursor: pointer;
}
.thumb-wrap {
	position: relative;
}
.blind {
	z-index: -1;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	transition: opacity 0.7s;
	-webkit-transition: opacity 0.7s;
}
.blind:after {
	content: ' ';
	color: white;
	font-size: 90px;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 4px solid white;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: url('../library/images/plus.svg') center/34px no-repeat;
}
.slider-thumb:hover .blind {
	z-index: 1;
	opacity: 1;
}
.thumb-caption {
	display: block;
	margin-top: 25px;
	font-size: 20px;
}

/*Slider Modal----------------------------------------------*/
.slider-modal {
	background-color: white;
}
.slider, .slick-list, .slick-track, .slider-slide {
	height: 100%;
}
.slider-img {
	width: 100%;
	height: 85%;
	background-size: cover;
	background-position: center;
	position: relative;
}
.slider-caption {
	height: 15%;
	width: 100%;
	position: relative;
	
}
.slider-caption span {
	position: absolute;
	font-style: normal;
	text-align: center;
	max-width: 500px;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.slider-caption h3 {
	font-size: 16px;
	line-height: 19px;
}
.modal-close {
	position: absolute;
	top: 25px;
	right: 60px;
	width: 34px;
	height: 34px;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	z-index: 9999999999;
	cursor: pointer;
}
#modal-tarifes .modal-close {
	transform: none;
	-o-transform: none;
	-ms-transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	width: 25px;
	height: 25px;
	right: 25px;
}
.custom_paging {
	position: fixed;
	width: 100%;
	top: 81%;
	left: 0;
	color: white;
	font-style: normal;
}
.custom_paging li { display: none; }
.custom_paging li.slick-active { display: block; }
.slider-arrow {
	height: 50px;
	width: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	opacity: 1;
	cursor: pointer;
}
.slider-arrow.slick-disabled {
	opacity: 0;
	cursor: default;
}
.prev-arrow {
	background-image: url('../library/images/arrow-slider-left.svg');
	left: 60px;
	z-index: 9;
}
.next-arrow {
	background-image: url('../library/images/arrow-slider-right.svg');
	right: 60px;
}

/*Home----------------------------------------------*/
.home main {
	padding: 65px 0 0 0;
}
.home-row {
	float: left;
	width: 100%;
}
.home-block {
	float: left;
	height: 335px;
	position: relative;
	overflow: hidden;
	opacity: 0.8;
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}
.home-block:hover {
	opacity: 1;
}
.home-block-background {
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease-out;
	-webkit-transition: transform 0.5s ease-out;
}
.home-block:hover .home-block-background {
	transform: scale(1.05);
}
.home-block-container {
	position: relative;
	float: left;
}
.home-block-container .home-block {
	position: absolute;
	height: 50%;
	width: 100%;
	left: 0;
	top: 0;
}
.home-block-container a:last-child .home-block {
	top: 50%;
}
.home65 {
	width: 65%;
}
.home35 {
	width: 35%;
}
.home-caption {
	padding: 30px 40px 20px;
	background-color: white;
	position: absolute;
	left: 0;
	top: -85px;
	height: 85px;
	width: 100%;
	/*transition: top 0.3s cubic-bezier(.8,.1,.83,.67);
	-webkit-transition: top 0.3s cubic-bezier(.8,.1,.83,.67);*/
	transition: top 0.4s ease-out;
	-webkit-transition: top 0.4s ease-out;
}
.home-caption b {
	width: 100%;
    float: left;
}
.home-block:hover .home-caption {
	top: 0;
}
.home-row.proportion .home-block {
	position: absolute;
	height: 100%;
}
.home-row.proportion {
	position: relative;
}
.home-row.proportion .home65 {
	right: 0;
}
.home-row.proportion .home35 {
	left: 0;
}
#down {
	border: 1px solid white;
	position: fixed;
	width: 35px;
	height: 35px;
	bottom: 50px;
	left: 50%;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform-origin: 50% 50%;
	cursor: pointer;
	overflow: hidden;
}
#down img {
	width: 12px;
	height: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
}
#down:hover img {
	    top: 200%;
    left: -100%;
}

/*La Casa-----------------------------------------*/
#sliderHomeWrap {
	position: relative;
	overflow: hidden;
}
#sliderHome {
	height: 100%;
}
#titular_slider {
	font-size: 65px;
	left: 0;
	z-index: 10;
	color: white;
	width: 100%;
	text-align: center;
	font-weight: 300;
	margin-top: 20px;
	transition: opacity 0.8s, margin-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: opacity 0.8s, margin-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1);
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
}
#titular_slider.visible {
	margin-top: 0;
}
#sliderHome .custom_paging {
	position: absolute;
	bottom: 20px;
	top: auto;
}

/*El Circuit---------------------------------------*/
.page-template-page_estada_motor main {
	padding-top: 65px;
}
#elcircuit-h1 {
	font-size: 30px;
	line-height: 32px;
	font-style: normal;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
#video {
	background-color: rgb(175,0,36);
	position: relative;
	min-height: 300px;
}
#video_cover {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-size: cover;
	background-position: center;
}
#play {
	width: 128px;
	height: 128px;
	position: absolute;
	z-index: 2;
    top: 50%;
	left: 50%;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 4px solid white;
	background-image: url('../library/images/play.svg');
	background-size: 50px;
	background-position: center;
	background-repeat: no-repeat;
	transition: width 0.2s, height 0.2s;
	-webkit-transition: width 0.2s, height 0.2s;
	cursor: pointer;
}
#play:hover {
	width: 120px;
	height: 120px;
}
/*Videos-----------------------------------------*/
.video {
    background-size: cover;
    background-position: center;
    position: relative;
    /*cursor: pointer;*/
}
.video img {
    width: 100%;
    margin: auto;
}
.play {
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    background-image: url('../library/images/play.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.play:hover {
    width: 90px;
    height: 90px;
}
.video-title {
    color: rgb(248,248,236);
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-top: -70px;
}
.video-title h1 {
    margin-bottom: 20px;
}
.video-title .play {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    top: 100%;
}
.video-title .play:hover {
    margin-top: -5px;
}
.play_youtube, .play_vimeo {
	cursor: pointer;
}
*.removeTransitions {
    -webkit-transition: none !Important;
    transition: none !Important;
}
.media-background {
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translate3d(-50%,-50%,0);
    -webkit-transform:  translate3d(-50%,-50%,0);
    transform:  translate3d(-50%,-50%,0);
}
.media-wrapper {
    overflow:hidden;
    display:block;
}
.media-wrapper {
    position:relative;
    top:0;
    left:0;
    width:100%;
    overflow:hidden;
	height: 100%;
}
.playImage {
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    z-index:40;
}
.media-content iframe {
    width:100% !important;
    position:absolute;
    height:100% !Important;
    border:none !Important;
    left:0;
    top:0;
}
.media-content .redShadow {
    position:relative;
    overflow: hidden;
}
.darken {
    position: absolute;
    background-color: rgba(59,59,59,0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-thumbnail {
    margin: 0 0 40px 0;
    width: 100%;
	
}
/*---*/

/*Activitats--------------------------------------*/
.page-template-page_activitats section:first-of-type:before {
	background: none;
	margin-top: 0;
}

/*Contacte-----------------------------------*/
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}
.acf-map img {
   max-width: inherit !important;
}
.wpcf7 {
	float: left;
    width: 100%;
}
.wpcf7 h3 {
	text-transform: none;
}
.wpcf7-form-control-wrap {
	width: 50%;
	float: left;
	padding: 15px;
}
.wpcf7 input, .wpcf7 textarea, .acceptance-wrap,
.wpcf7-list-item {
	padding: 10px;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-style: normal;
	font-weight: 300;
	text-align: center;
}
.wpcf7 input.wpcf7-text, .wpcf7 input.wpcf7-number, .wpcf7 textarea {
	border: 1px solid rgba(0,0,0,0.2);
}
.wpcf7 input:focus, .wpcf7 textarea:focus {
	border: 1px solid rgba(0,0,0,1);
}
.wpcf7 textarea {
	text-align: left;
}
.wpcf7-form-control-wrap.message {
	width: 100%;
}
input[type="checkbox"], .wpcf7-form-control-wrap.acceptance {
	width: auto;
	display: inline;
    float: none;
	cursor: pointer;
	padding: 0;
}
input[type="submit"]{
	border: 0;
	background: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
}
.wpcf7 input[type="submit"]{
	padding: 40px;
    margin-top: -14px;
	width: 100px;
	margin-left: auto;
}
.submit-wrap {
	position: relative;
	display: block;
	margin-top: 30px;
	text-align: center;
	height: 100px;
}
.submit-background {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0;
	left: 50%;
	border: 1px solid black;
	transform: rotate(45deg) translateX(-50%);
	-o-transform: rotate(45deg) translateX(-50%);
	-ms-transform: rotate(45deg) translateX(-50%);
	-moz-transform: rotate(45deg) translateX(-50%);
	-webkit-transform: rotate(45deg) translateX(-50%);
	transform-origin: 0;
	-o-transform-origin: 0;
	-ms-transform-origin: 0;
	-moz-transform-origin: 0;
	-webkit-transform-origin: 0;
	z-index: -1;
}
.wpcf7 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.wpcf7 ::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
.wpcf7 :-ms-input-placeholder { /* IE 10+ */
  color: black;
}
.wpcf7 :-moz-placeholder { /* Firefox 18- */
  color: black;
}

/*Fes una reserva---------------------------------*/
#reserves {
	font-style: normal;
}
#reserves form {
	display: none;
}
#form-intro {
	margin-bottom: 70px;
	margin-top: 20px;
}
#diamonds-reserves {
	text-align: justify;
	text-align-last: justify;
	-moz-text-align-last: justify;
}
.Safari #diamonds-reserves,
.iSTouch #diamonds-reserves {
	text-align: center;
	text-align-last: auto;
	-moz-text-align-last: auto;
}
.Safari #diamonds-reserves .diamond,
.isTouch #diamonds-reserves .diamond {
    margin: 50px;
}
#diamonds-reserves .diamond,
#diamonds-tarifes .diamond,
#modal-tarifes .diamond {
	position: relative;
	display: inline-block;
	margin: 50px 0;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	text-align-last: center;
	-moz-text-align-last: center;
	text-transform: uppercase;
	cursor: pointer;
}
#diamonds-tarifes {
	text-align: center;
}
.diamond-selected .diamond-background {
	background-color: black;
}
.diamond-selected .diamond-text {
	color: white;
	z-index: 1;
}
.wpcf7-form-control-wrap.reserva {
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.page-template-page_reserva form {
	margin-top: 25px;
}
form h3 {
	float: left;
	width: 100%;
	margin-top: 35px;
}
#tarifes {
	float: left;
	width: 100%;
	text-align: center;
}
.tarifa {
	max-height: 0;
	opacity: 0;
	width: 700px;
	max-width: 100%;
    margin: 0 auto;
	transition: max-height 0.9s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 1s;
	-webkit-transition: max-height 0.9s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 1s;
	overflow: hidden;
}
.tarifa.tarifa-visible {
	max-height: 250px;
	opacity: 1;
}
#lletraPetita {
    font-style: italic;
    margin: 20px 0 0 0;
    font-size: 13px;
    line-height: 18px;
    color: #969696;
}
.wpcf7-form-control-wrap.comentaris, .wpcf7-form-control-wrap.extres {
	width: 100%;
}
.wpcf7-form-control-wrap.comentaris {
	width: 50%;
	margin-left: 25%;
}
.wpcf7-list-item {
	float: left;
}
.wpcf7-list-item-label {
	font-weight: 300;
	text-transform: uppercase;
}
div.wpcf7-response-output {
    float: left;
    width: 100%;
    margin-top: 20px;
}
span.wpcf7-not-valid-tip {
    position: absolute;
	padding-top: 3px;
	font-size: 15px;
}
.form-footer, #reserves .acceptance-wrap {
	float: left;
	width: 100%;
}
#reserves input[type="submit"]{
	padding: 10px;
	border: 1px solid black;
	width: 150px;
	margin-top: 35px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#reserves input[type="submit"]:hover{
	background: black;
	color: white;
}
input[disabled="disabled"]{
	cursor: not-allowed !Important;
	opacity: 0.3;
}
#modal-tarifes .content-modal {
	width: 100%;
	left: 0;
	text-align: center;
}
.page-template-page_reserva .modal-backdrop.in {
	opacity: 0.9;
	background: white;
}
.temporada {
	font-size: 16px;
	line-height: 19px;
}
.diamond-wrap {
	text-align: center;
	width: 100%;
}
.title-tarifa {
	font-weight: 600;
}
.table-tarifes-row, .title-tarifa {
	display: block;
	text-align: center;
}

/*Notícies---------------------------------------*/
#noticies_list, #noticia_single {
	padding-bottom: 50px;
}
.noticia {
	float: left;
	width: 100%;
	margin: 30px 0 20px;
}
.noticia h2 {
	text-transform: none;
	font-size: 25px;
	line-height: 25px;
}
.date {
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}
.post-slider {
	margin: 20px 0;
}
.post-slider .next-arrow {
    right: 20px;
}
.post-slider .prev-arrow {
    left: 20px;
}
.post-content {
	margin-top: 10px;
}
.read-more {
	font-style: normal;
	text-decoration: underline;
	margin-top: 20px;
	display: block;
}
.navigation {
	margin-top: 30px;
	float: left;
	width: 100%;
}
.page-numbers.current {
	text-decoration: underline;
}
.page-numbers:after {
	content: ',';
	display: inline-block;
}
.page-numbers:last-child:after  {
	content: '';
}

/*Footer-----------------------------------------*/
footer {
	float: left;
	width: 100%;
	background-color: rgb(242,242,242);
	padding: 20px 0;
	font-size: 16px;
	line-height: 19px;
}
.page-template-default footer {
	margin-top: 50px;
}
footer p {
	display: inline;
}
footer nav[class^="col"] {
	float: right;
	text-align: right;
}
footer nav li {
	margin-left: 10px;
}
#cookie-notice {
	display: none;
	position: fixed;
	bottom: -100px;
	width: 100%;
	left: 0;
	background-color: white;
	padding: 30px 0;
	text-align: center;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
	font-size: 14px;
	line-height: 20px;
	transition: bottom 0.4s;
	-webkit-transition: bottom 0.4s;
}
#cookie-notice.out {
	bottom: 0;
}
#cookie-notice img {
	width: 35px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
#cookie-notice div {
	display: inline-block;
	float: none;
}
#close-cookie {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#responsive-menu {
	display: none;
}
/*Media queries--------------------------------*/
@media screen and (max-width: 1150px){
	.current-menu-item:after, header li:hover:after, nav li:hover:after {
		display: none;
	}
	.hamburger {
		display: block;
	}
	#desktop-menu, #big-lang {
		display: none;
	}
	.current-menu-item a,
	.menu-item a:hover, .menu-item a:focus {
		border-bottom: 1px solid black;
		text-decoration: none;
	}
	#social {
		display: none;
	}
	#social-responsive {
		position: absolute;
		bottom: 50px;
		width: 100%;
		text-align: center;
	}
	#social-responsive li {
		font-size: 20px;
		display: inline;
		float: none;
		margin: 0 10px;
	}
	#lang_sel_list.lang_sel_list_vertical, #lang_sel_list.lang_sel_list_vertical li {
		margin: 0 10px !important;
	}
	#responsive-menu {
		display: block;
	}
}
@media screen and (max-width: 991px){
	.slider-thumb {
		margin-bottom: 30px;
	}
	#menu-menu-footer {
		float: left;
		margin-top: 10px;
	}
	footer nav li {
		margin-left: 0;
	}
}
@media screen and (max-width: 768px){
	#down, .home-row,
	#diamonds {
		display: none;
	}
	#responsive-slider div {
		background-size: cover;
		background-position: right;
	}
	#responsive-slider span {
		width: 100%;
		left: 0;
		text-align: center;
		font-size: 50px;
		color: white;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	}
	#logo {
		position: fixed;
		z-index: 5;
	}
	.home65 {
		width: 100%;
	}
	#checkered {
		padding: 0;
	}
	section > img:first-of-type {
		margin-left: -30px;
		width: 105%;
		width: calc(100% + 60px);
		max-width: none;
	}
	.slider-thumb .blind,
	.slider-thumb:hover .blind {
		z-index: 1;
		opacity: 1;
		width: 50px;
		height: 50px;
		overflow: hidden;
		right: 0;
		left: auto;
	}
	.blind:after {
		background-size: 30px;
	}
	.thumb-wrap {
		width: 300px;
		margin: 0 auto;
	}
	.modal-close {
		right: 20px;
	}
	.next-arrow {
		right: 30px;
	}
	.prev-arrow {
		left: 30px;
	}
}
@media screen and (max-width: 767px){
	h1 {
		font-size: 40px;
		letter-spacing: 3px;
	}
	#logo img {
		height: 80px;
		left: 20px;
	}
	#responsive-slider span {
		font-size: 50px;
		font-weight: 300;
	}
	#responsive-slider .custom_paging {
		top: 92%;
		position: absolute;
	}
	#responsive-menu li {
		font-size: 30px;
		line-height: 50px;
	}
	#responsive-menu #lang_sel_list.lang_sel_list_vertical ul a, #responsive-menu #lang_sel_list.lang_sel_list_vertical a, #responsive-menu #lang_sel_list.lang_sel_list_vertical a:visited {
		font-size: 16px;
		line-height: 16px;
	}
	#titular_slider {
		font-size: 40px;
	}
	.checkered-block {
		width: 100%;
		margin: 10px 0;
	}
	.checkered-text {
		position: relative;
		float: left;
		top: 0;
		transform: none;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
	}
	.thumb-caption {
		width: 80%;
		margin-left: 10%;
		margin-bottom: 20px;
	}
	.wpcf7-form-control-wrap, .wpcf7-form-control-wrap.name input {
		width: 100%;
	}
	.wpcf7-form-control-wrap.comentaris {
		width: 100%;
		margin-left: 0;
	}
	#diamonds-reserves {
		text-align: center;
		text-align-last: center;
		word-spacing: 40px;
	}
	.temporada:first-child {
		margin-bottom: 20px;
	}
	footer, #menu-menu-footer li {
		text-align: center !important;
	}
	#menu-menu-footer, #menu-menu-footer li {
		width: 100%;
	}
	#social-responsive {
		position: absolute;
		bottom: 50px;
		width: 100%;
		text-align: center;
	}
	#social-responsive li {
		font-size: 20px;
		display: inline;
		float: none;
		margin: 0 10px;
	}
}
@media screen and (max-width: 500px){
	#modal-tarifes > .vertical-align {
		top: 100px;
		transform: none;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
	}
	#responsive-menu #lang_sel_list {
		bottom: 20px;
	}
}