@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
body.wp-admin, body.wp-admin h1 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	letter-spacing: 0;
	font-style: normal;
}
#post-body-content #titlediv #title, #subtitle input {
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 30px;
	line-height: 32px;
	text-align: center;
	background-color: transparent !important;
	border: none !important;
	box-shadow: none;
}
.post-type-page #post-body-content #titlediv #title {
	text-transform: uppercase;
}
.acf-bold {
	font-weight: 700;
	padding-bottom: 0;
}
.acf-bold .acf-label, .acf-repeater .acf-label {
	display: none;
}
.acf-bold input {
	background-color: transparent;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid black;
	padding-bottom: 15px !important;
}
.acf-repeater .acf-bold input {
	padding-bottom: 0 !important;
}
.acf-bold-title input[type="text"] {
	font-size: 1.5em;
}
.acf-title input {
	text-transform: uppercase;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px !important;
}
.acf-border-left textarea {
	border-left: 1px solid black !important;
	padding-left: 10px !important;
}
.acf-table thead {
	display: none;
}
.acf-float {
	float: left;
	clear: none !important;
	min-height: 0 !important;
}
.acf-side-home {
	height: 300px;
	overflow: hidden;
}
.acf-content {
	margin-left: 25% !important;
	-webkit-box-shadow: -1px 0px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: -1px 0px 0px 0px rgba(0,0,0,1);
	box-shadow: -1px 0px 0px 0px rgba(0,0,0,1);
}
.acf-content textarea, .mce-edit-area {
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px !important;
	line-height: 24px !important;
	font-style: italic !important;
	text-align: center;
}
.acf-gallery {
	height: 250px !important;
}
.acf-slider-title {
	padding-bottom: 50px !important;
	border-bottom: 1px solid gray;
}
.acf-slider-title input {
	font-weight: 300;
	font-size: 25px !important;
	margin-left: 15px !important;
}
.transparent input, .transparent textarea,
.transparent .acf-gallery-main,
.acf-slider-title input {
	background-color: transparent !important;
	border: none;
	box-shadow: none;
}
.wp-editor-container, .transparent div.mce-panel {
	background: transparent !important;
}
.transparent .acf-gallery-toolbar {background-color: transparent;}
.transparent input[type="checkbox"]{
	border: 1px solid #b4b9be;
}
.transparent table.acf-table, .transparent table.acf-table td {
	background-color: transparent !important;
}
.acf-center-image .view {
	text-align: center;
	max-width: 100% !important;
    width: 100%;
}
.acf-center-image .view img {
	max-width: 1024px;
	display: inline-block;
}