.login {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(195, 14, 46);
}
.login h1 a {
  background: url(../images/admin/login-logo.png) no-repeat top center;
  /* make sure to replace this! */
  width: 258px;
  height: 258px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block; }

form {
  margin-left: 8px;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: white;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  box-shadow: none; }

body form .input {
  font-weight: 200;
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2); }
  
.wp-core-ui .button-primary {
    background: rgb(195, 14, 46);
    border-color: rgb(195, 14, 46);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
    background: rgb(195, 14, 46);
    border-color: rgb(255,255,255);
    color: #fff;
}
.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: rgb(255,255,255);
    font-weight: 700;
}
/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
/* login button*/
/*
retina login logo
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .login h1 a {
    background: url(../images/login-logo@2x.png) no-repeat top center;
    /* make sure to replace this! */ } }
